body{background-color: #8478aa}
.header {
    background: #c6c2d1;
    border-radius: 30px;
    border: 10px solid #493881;
     margin: auto;
     padding: 20px;
     text-align: center;
       color: #100338
}
.main {
    background-color: #c6c2d1;
    padding: 90px;
    border: 10px solid #493881;
    float: right;
    margin-top: 40px;
    padding-left: 80px;
    border-radius: 30px;
    width: 75%;
    text-align: left;
    font-size: 21px;
      color: #100338

}
.text {
    text-align: right;
    float: right;
    margin-left: 60px;
    font-size: 20px;
      color: #100338
      position:fixed;

}
.wise{
  float: right;

}
.footer {
    background: #261461;
    border-radius: 30px;
     text-align: center;
       color: #c6c2d1
}
.button {

}
.btn-group .button {
    background-color: #493881;
    border: 1px solid black;
    border-radius: 100%;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 120px;
    height: 120px;
    margin: 40px 20px;
    display: block;

}

.btn-group .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.btn-group .button:hover {
    background-color: #261461;
}
a {
    color: white;
}
.cook{
height: 400px;
background-color: #c6c2d1;
padding: 90px;
border: 10px solid #493881;
float: right;
margin-top: 40px;
padding-left: 80px;
border-radius: 30px;
width: 75%;
text-align: left;
font-size: 21px;
  color: #100338;
 overflow: auto;
}
